span
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
p
{
    position: absolute;
    color: black;
    bottom: 5px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.link
{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30px;
}
@media (prefers-color-scheme: dark){
span
{
    color: white;
}
p
{
    color: #fff;
}
body
{
    background: #272b28;
}
.link
{
    color: white;
}
}