span
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    margin: 0;
    padding: 0;
}
.announcement{
    margin-bottom: 30px;
}
.new{
    color: #fc9803;
    font-size: large;
}
.announcement{
    text-align: center;
    position: absolute;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.info{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    color: black;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 15px;
}
a{
    text-decoration: none;
}
@media (prefers-color-scheme: dark){
span
{
    color: white;
}
body
{
    background: #272b28;
}
p
{
    color: white;
}
a{
    color: white;
}
}
@media (max-width: 500px){
    .announcement{
        visibility: hidden;
    }
    }
    @media (max-width: 750px){
        .info{
            visibility: hidden;
        }
        .announcement{
            margin-bottom: 0px;
        }
    }