span
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
p
{
    position: absolute;
    color: black;
    bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.link
{
text-decoration: none;
color: black;
font-family: 'Roboto', sans-serif;
position: absolute;
top: 30px;
right: 50px;
}
.dark
{
text-decoration: none;
color: black;
font-family: 'Roboto', sans-serif;
position: absolute;
top: 30px;
left: 50px;
}

@media (max-width: 1000px) {
span
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 160px;
}
p
{
    position: absolute;
    color: black;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.link
{
text-decoration: none;
color: black;
font-family: 'Roboto', sans-serif;
position: absolute;
top: 30px;
right: 50px;
font-size: 30px;
}
.dark
{
text-decoration: none;
color: black;
font-family: 'Roboto', sans-serif;
position: absolute;
top: 30px;
left: 50px;
font-size: 30px;
}
}