body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin-bottom: 40px;
}
.ms{
    content:url("../resources/Settings/clock.png");
}
.rolex {
    content:url("../resources/Settings/rolex.png");
}
.num {
    content:url("../resources/Settings/numerical.png");
}
@media (prefers-color-scheme: dark){
    body{
        background-color: #272b28;
    }
    h1{
        color: white;
        margin-bottom: 40px;
    }
    .ms{
        content:url("../resources/Settings/clock-dark-mode.png");
    }
    .rolex {
        content:url("../resources/Settings/rolex.png");
    }
    .num {
        content:url("../resources/Settings/numerical-dark-mode.png");
    }
    p, a{
        color: white;
    }
}