*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}
.buttons{
    position: absolute;
    bottom: 3%;
    color: black;
}
.announcement{
    margin-bottom: 30px;
}
.new{
    color: #fc9803;
    font-size: large;
}
.announcement{
    text-align: center;
    position: absolute;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.info{
    text-align: center;
    position: absolute;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    color: black;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30px;
}
a{
    text-decoration: none;
}
#timer{
    font-size: xx-large;
}
@media (prefers-color-scheme: dark){
    body{
        background: #272b28;
    }
    .mdc-button__label{
        color: #40b3ff;
    }
    #timer{
        color: white;
        --mdc-button--outlined: white;
    }
    .link{
        color: white;
    }
    p
    {
        color: white;
    }
    a{
        color: white;
    }
}